<div class="site-wrapper">
  <div class="site-wrapper-inner">

    <div class="cover-container">
      <div class="inner cover">
        <div class="logo"></div>
          <h1 class="cover-heading">Welcome to my app.</h1>
          <p class="lead">This is an Angular 4 application, with NodeJS in the backend and a Mongo DB database. Please click in the bottom
            below to continue.
          </p>
          <p class="lead">
            <a href="/#/login" class="btn btn-lg btn-danger">Log In/Sign Up</a>
          </p>
      </div>
    </div>
  </div>
</div>
